.plants_container {
  display: flex;
  gap: 20px;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  margin-bottom: 10px;
}

.plants_container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
